cell-dimensions(v)
  width "calc((%s - 6px) / 9)" % v
  height @width
  line-height @width

button()
  display inline-block
  outline 0
  border 1px solid transparent
  border-radius 2px
  cursor pointer
  color $color-bg
  font-size 1rem
  font-weight bold
  text-transform uppercase

button-color(bg-color)
  background-color bg-color
  &:hover
    background-color lighten(@background-color, 10)
