@import '../../node_modules/nib'
@import 'variables'
@import 'mixins'

*
  box-sizing border-box

body
  margin 0
  padding 0
  font-family Helvetica, Arial, sans-serif
  font-size 1.4em
  background-color $color-bg
  color $color-text

.btn
  button()
  button-color($color-btn)
  &.btn-blue
    button-color($color-blue)
  &.btn-red
    button-color($color-red)

#sudoku
  position absolute
  margin 0 auto
  top 0
  right 0
  bottom 0
  left 0
  clearfix()

  @media (max-width: 600px)
    width 100vmin
  @media (min-width: 601px)
    width 85vmin

#board
  width 100%

.square, .cell
  float left
  display inline-block
  border 1px solid black

  &:nth-child(3n+1)
    clear both

.cell
  text-align center
  transition background 0.25s ease-in-out

  @media (max-width: 600px)
    cell-dimensions(100vmin)
  @media (min-width: 601px)
    cell-dimensions(85vmin)

  &.wrong
    background-color $color-wrong !important
    input
      color white

  &.editable
    color $color-edit
    &:hover
      background-color $color-hover

  &.verified
    background-color $color-verified

  input
    display inline-block
    width 100%
    font-size 1.4rem
    border 0
    text-align center
    background-color transparent
    color $color-edit
    outline 0

.controls
  display flex
  margin 0
  padding 10px 0
  height 65px
  width 100%
  flex-direction row
  flex-wrap nowrap

  .btn
    margin-right 20px
    flex-grow 1

    &:last-child
      margin-right 0
