$color-text     = #333
$color-bg       = #f9f9f9

$color-btn      = #9bdd55
$color-blue     = #55c2dd
$color-red      = #dd5571

$color-hover    = #e5e5e5
$color-edit     = #888
$color-verified = #77ff94
$color-wrong    = #ff4444
