$color-text     = #333
$color-bg       = #f9f9f9

$color-btn      = #2ECC40
$color-blue     = #0074D9
$color-red      = #85144b

$color-hover    = #e5e5e5
$color-edit     = #888
$color-verified = #01FF70
$color-wrong    = #FF4136
