$cell-width     = calc((100vw - 6px) / 9)
$color-hover    = #e5e5e5
$color-edit     = #888
$color-verified = #77ff94
$color-wrong    = #ff4444

@import '../node_modules/nib'

*
  box-sizing border-box

body
  font-family Helvetica, Arial, sans-serif
  font-size 1.4em
  margin 0
  padding 0

#board
  position absolute
  margin 50px auto
  box-sizing border-box
  clearfix()

.square, .cell
  float left
  display inline-block
  border 1px solid black
  box-sizing border-box

  &:nth-child(3n+1)
    clear both

.cell
  width $cell-width
  height $cell-width
  line-height $cell-width
  text-align center
  transition background 0.25s ease-in-out

  &.wrong
    background-color $color-wrong !important
    input
      color white

  &.editable:hover
    background-color $color-hover

  &.verified
    background-color $color-verified

  input
    display inline-block
    width 100%
    font-size 1.4rem
    border 0
    box-sizing border-box
    text-align center
    background-color transparent
    color $color-edit
    outline 0
